@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        
        <h1 style="color:darkmagenta;font-weight:bold" class="display-4">Doctor Management Portal</h1>
        <img style="width:100%; height=60%" src="./Assets/Doctor manoj.jpg" />
    </div>
